<div class="container-fluid" style="width: 70%; padding-top: 5rem;">
    <div>
        
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">{{operator.name}}</label>
                <input type="Name" class="form-control" placeholder={{operator.name}}>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder={{operator.email}}>
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder={{operator.address}}>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="load">Load</label>
                <input type="text" class="form-control" id="inputCity"  placeholder={{operator.load}}>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>

    </div>
</div>